.StopWatchArea
  .TeaSelectArea
    .ConditionSelectArea
      .ConditionSelectArea__leaftype リーフ
      .ConditionSelectArea__astringency 渋さ
      
  .StopWatchArea
    .CountDownArea
      .CountDownArea__timertext--min 180
      -# .CountDownArea__timertext--colon :
      -# .CountDownArea__timertext--sec 01
    .ButtonArea
      .ButtonArea__start
        .ButtonArea__start--icon
        .ButtonArea__start--text start
      .ButtonArea__reset
        .ButtonArea__reset--icon
        .ButtonArea__reset--text reset
      .ButtonArea__detail
        .ButtonArea__detail--icon
        .ButtonArea__detail--text 設定
