.StopWatchArea
  .TeaSelectArea
    .ConditionSelectArea
      .ConditionSelectArea__leaftype リーフ

  .StopWatchArea
    .CountDownArea
      .CountDownArea__timertext 3:00
    .ButtonArea
      .ButtonArea__start
        .ButtonArea__start--icon
        .ButtonArea__start--text start
      .ButtonArea__reset
        .ButtonArea__reset--icon
        .ButtonArea__reset--text reset
      .ButtonArea__detail
        .ButtonArea__detail--icon
        .ButtonArea__detail--text 設定
