= render partial: "tops/title_bar"

.DropConditionRegistrationPage
  .ConditionSelectArea
    .ConditionSelectArea__number
      .ConditionSelectArea__number--icon= icon("fas", "users")
      .ConditionSelectArea__number--text 人数
    .ConditionSelectArea__number
      .ConditionSelectArea__teaType--icon= icon("fas", "coffee")
      .ConditionSelectArea__teaType--text 飲み方

  .ConditionResultArea
    .ConditionResultArea__water -
    .ConditionResultArea__leaf -
  .StopWatchArea
    .CountDownArea
      .CountDownArea__timertext--min 150
    .ButtonArea
      .ButtonArea__start
        .ButtonArea__start--icon
        .ButtonArea__start--text start
      .ButtonArea__reset
        .ButtonArea__reset--icon
        .ButtonArea__reset--text reset
      .ButtonArea__detail
        .ButtonArea__detail--icon
        .ButtonArea__detail--text 設定
