@import "../mixin";

//マイページのスタイル
.MyPage{
  padding-top: 100px;
  @include flex_box(top, top);
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  .MyTeasArea{
    background-color: $ivory;
    border:1px solid $tea_color;
    @include w_h(70%, 100%);
    width: calc(100% - 280px);
    h1{
      text-align: center;
      font-size: 25px;
      padding: 10px;
      background-color: rgba(210, 133, 56, 0.2);
      border-bottom: 2px solid brown;
      margin-bottom: 10px;
    }
    .MyTeaCards{
      @include flex_box(space-around, top);
      flex-wrap: wrap;
      .Card{
        border: 1px solid $tea_color;
        width: 350px;
        background-color: #fff;
        margin: 15px 15px 45px;
        box-shadow: 10px 10px 3px 0px $tea_color;
        position: relative;
        h2{
          font-size: 20px;
          padding: 5px 15px 5px 15px;
          width: 100%;
          border-bottom: 1px dotted $tea_color;
        }
        & .fa-pencil-alt{
          position: absolute;
          color: #9c9c9c;
          right: 15px;
          top: 10px;
        }
        & .fa-pencil-alt:hover{
          color: #333;
        }
        &__detail{
          @include flex_box(top, center);
          margin-bottom: 15px;
          &--image{
            margin: 10px 30px 10px 10px;
          }
          &--text{
            dl{
              @include flex_box(top, center);
              margin-bottom: 5px;
              dt{
                margin-right: 10px;
              }
            }
          }
        }
        &__btn{
          @include flex_box(space-around, center);
          margin: 0 auto 10px;
          width: 80%;
          font-size: 20px;
          &--text{
            color: #fff;
            border-radius: 7px;
            width: 100px;
            height: 40px;
            background-color: $tea_color;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
          }
          &--text:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
  .UserLogoutArea{
    background-color: $ivory;
    border:1px solid $tea_color;
    width: calc(100% - 280px);
    height: 150px;
    padding: 50px 0;
    &__btn{
      display: block;
      width: 200px;
      margin: 0 auto;
      line-height: 50px;
      font-size: 14px;
      background-color: $tea_color;
      border-radius: 10px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      }
  }
  // マイページのユーザー情報変更ページののスタイル
  .UserEditPage{
    color: #333;
    width: calc(100% - 280px);
    background-color: $ivory;
    border:1px solid $tea_color;
    padding-bottom: 30px;
    h1{
      text-align: center;
      font-size: 25px;
      padding: 10px;
      background-color: rgba(210, 133, 56, 0.2);
      border-bottom: 2px solid brown;
      margin-bottom: 20px;
    }
    .FormArea{
      width: 70%;
      font-size: 20px;
      margin: 0 auto;
      &__errorMessages {
        font-size: 15px;
        color: red;
      }
      .FormItem {
        width: 100%;
        margin-bottom: 20px;
        &__label{
          margin-bottom: 10px;
        }
        &__detail{
          & input{
            display: block;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 48px;
            padding: 0 16px;
            margin: 0 auto;
          }
        }
        &__btn{
          display: block;
          width: 200px;
          height: 50px;
          margin: 30px auto 0px;
          & input {
            width: 100%;
            appearance: none;
            background: $tea_color;
            color: #fff;
            font-weight: bold;
            text-align: center;
            border: none;
            border-radius: 4px;
            padding: 15px 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
// マイページサイドナビゲーションのスタイル
.SideBar{
  @include w_h(280px, 195px);
  font-size: 14px;
  margin-right: 40px;
  border:1px solid $tea_color;
  .Nav{
    background-color: $ivory;
    &__content{
      display: flex; 
      padding: 16px;
      min-height: 48px; 
      text-decoration: none; 
      color: #333;
      position: relative;
      &--name{
        line-height: 14px;
      }
      i{
        position: absolute;
        right: 15px;
        line-height: 14px;
        font-size: 20px;
        color: rgba(210, 133, 56, 0.2);
      }

    }
  }
  .Nav > :not(:first-child){
    border-top: 1px solid $tea_color;
  }
}
// マイ紅茶登録ページスタイル
.MyTeaRegistrationPage{
  padding-top: 100px;
  width: 50%;
  margin: 0 auto;
  .FormArea{
    width: 50%;
    margin: 0 auto;
    .FormImage{
      @include flex_box(center, center);
      #Previews{
        @include flex_box(space-around, center);
        flex-wrap: wrap;
        .FileWrapper__uploader{
          display: none;
        }
        .fa-camera-retro{
          @include w_h(140px, 140px);
          border: 1px solid #aaa;
          font-size: 50px;
          line-height: 140px;
          text-align: center;
          color: #333;
          border-radius: 5px;
          cursor: pointer;
        }
        .Preview{
          position: relative;
          margin: 5px;
          &__removeBtn{
            position: absolute;
            top: 0px;
            right: 0px;
            color: #f16161;
            background-color: #fff;
          }
        }
      }
    }
    .FormItem {
      position: relative;
      width: 100%;
      margin: 25px auto;
      &__detail{
        font: 15px/24px sans-serif;
        width: 100%;
        padding: 0.3em;
        padding-left: 40px;
        letter-spacing: 1px;
        border: 0;
        background-color: $ivory;
      }
      & input[type="text"]:focus{
        outline: none;
      }
      & input[type="text"]:focus::after{
        outline: none;
      }
      & i{
        position: absolute;
        top: 0;
        left: 10px;
        padding: 9px 5px;
        transition: 0.3s;
        color: #aaaaaa;
      }
      & .fa-hand-pointer{
        top: -3px;
      }
      & select{
        outline: none;
        color: #777;
      }
      &__btn{
        display: block;
        width: 200px;
        height: 50px;
        margin: 30px auto 0px;
        & input {
          width: 100%;
          appearance: none;
          background: $tea_color;
          color: #fff;
          font-weight: bold;
          text-align: center;
          border: none;
          border-radius: 4px;
          padding: 15px 0;
          cursor: pointer;
        }
      }
    }
    .FormItem::after{
      display: block;
      width: 100%;
      height: 4px;
      margin-top: -1px;
      content: '';
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: #da3c41;
    }
    #MyTeaDeleteBtn{
      display: block;
      text-decoration: none;
      color: #f16161;
      font-size: 15px;
      text-align: center;
      margin-top: 20px;
    }
    #MyTeaDeleteBtn:hover{
      opacity: 0.8;
      font-size: 17px;
    }
  }
}
// マイページ紅茶履歴
.DropConditionLists{
  width: 60%;
  margin: 0 auto;
  z-index:2;
  background-color: #fff;
  position:fixed;
	top:100px;
  left:20%;
  padding: 20px;
  display: none;
  overflow: scroll;
  max-height: calc(100vh - 100px);
  .fa-times-circle{
    position: fixed;
    top: 110px;
    right: 21%;
    font-size: 20px;
    color: #f16161;
    z-index: 3;
  }
  .fa-times-circle:hover{
    opacity: 0.8;
  }
  .ListWrapper{
    padding: 10px;
    border: 3px solid brown;
    border-radius: 0 50px 50px 0;
    margin-bottom: 5px;
    position: relative;
    .fa-circle{
      position: absolute;
      top:10px;
      left: 5px;
      color: $tea_color;
      font-size: 17px;
    }
    .List{
      @include flex_box(top, top);
      @include w_h(100%, 100px);
      margin: 0 auto;
      dl {
        margin:0px auto;
        text-align: center;
        width: 14%;
        #List__teaType{
          font-size: 16px;
          height: 30px;
          line-height: 30px;
        }
      } 
      &__label{
        margin-top: 10px;
        margin-bottom: 10px;
        i{
          font-size: 40px;
          color: $tea_color;
        }
      }
      &__detail{
        font-size: 20px;
      }
      &__evaluation{
        @include flex_box(top, center);
        height: 100px;
        &--detail{
          font-size: 25px;
          font-weight: bold;
          text-align: center;
        }
        &--label{
          i{
            margin-right: 5px;
            color: $tea_color;
            font-size: 20px;
          }
        }
      }
    }
    .MemoArea{
      @include flex_box(top, top);
      @include w_h(100%, 50px);
      margin: 0 auto;
      &__label{
        @include flex_box(top, center);
        margin-right: 20px;
        i {
          font-size: 40px;
          transform: scaleX(-1);
          margin-left: 13px;
        }
        &--editBtn{
          text-decoration: none;
          color: $tea_color;
        }
        &--btn{
          display: block;
          padding: 10px;
          margin-left: 13px;
          border: 1px solid #fff;
          background-color: $tea_color;
          font-size: 20px;
          color: #fff;
          text-decoration: none;
          height: 40px;
          line-height: 20px;
          border-radius: 10px;
          width: 85px;
          text-align: center;
        }
        i:hover, a:hover{
          opacity: 0.8;
        }
      }
      &__detail{
        font-size: 20px;
        line-height: 50px;
        overflow: scroll;
      }
    }
  }
}
// モーダルウィンドウ用スタイル
#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.6);
}