@import "../mixin";

.MyPage{
  padding-top: 100px;
  .MyTeasArea{
    margin: 0 auto;
    @include w_h(80%, 100%);
    h1{
      text-align: center;
      font-size: 25px;
      margin-bottom: 50px;
    }
    .MyTeaCards{
      @include flex_box(space-around, top);
      flex-wrap: wrap;
      .Card{
        border: 1px solid $tea_color;
        width: 430px;
        background-color: #fff;
        margin: 15px;
        box-shadow: 10px 10px 3px 0px $tea_color;

        h2{
          font-size: 20px;
          padding: 5px 15px 5px 15px;
          width: 100%;
          border-bottom: 1px dotted $tea_color;
        }
        &__detail{
          @include flex_box(top, center);
          margin-bottom: 15px;
          &--image{
            margin: 10px;
          }
          &--text{
            dl{
              @include flex_box(top, center);
              margin-bottom: 5px;
              dt{
                margin-right: 10px;
              }
            }
          }
        }
        &__btn{
          @include flex_box(space-around, center);
          margin: 0 auto 10px;
          width: 80%;
          font-size: 20px;
          &--text{
            color: #fff;
            border-radius: 7px;
            width: 100px;
            height: 40px;
            background-color: $tea_color;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.MyTeaRegistrationPage{
  padding-top: 100px;
  width: 80%;
  .FormArea{
    margin: 0 auto;
    @include flex_box(center, center);
    .FormItem{
      width: 100%;
    }
  }
}

.DropConditionLists{
  width: 80%;
  margin: 0 auto;
  .ListWrapper{
    border: 2px solid $tea_color;
    border-radius: 10px;
    .List{
      @include flex_box(top, top);
      @include w_h(70%, 100px);
      margin: 0 auto;
      dl {
        margin:0px auto;
        text-align: center;
        width: 14%;
        #List__teaType{
          font-size: 16px;
          height: 30px;
          line-height: 30px;
        }
      } 
      &__label{
        margin-top: 10px;
        margin-bottom: 10px;
        i{
          font-size: 40px;
        }
      }
      &__detail{
        font-size: 20px;
      }
      &__evaluation{
        height: 49px;
        margin: 0;
        &--detail{
          font-size: 30px;
        }
        &--label{
          font-size: 20px;
        }
      }
    }
    .MemoArea{
      @include flex_box(top, top);
      @include w_h(70%, 50px);
      margin: 0 auto;
      &__label{
        margin-right: 20px;
        i {
          font-size: 50px;
          transform: scaleX(-1);
        }
      }
      &__detail{
        font-size: 20px;
        line-height: 50px;
        overflow: scroll;
      }
    }
  }
}