@import "../mixin";

.TitleBar{
  position: fixed;
  width: 100vw;
  font-style: oblique;
  @include flex_box(start, start);
  border-top: 3px solid $tea_color;
  border-bottom: 3px solid $tea_color;
  background-color: rgba(210, 133, 56, 0.2);
  &__title{
    @include flex_box(start, center);
    &--icon{
      margin: 0 10px;
    }
    &--text{
      font-size: 25px;
      margin-right: 10px;
    }
  }
  &__nav{
    line-height: 50px;
    position: fixed;
    right: 0px;
    padding: 0 8px;
    &--btn{
      text-decoration: none;
    }
    &--btn:visited, &--btn:hover,
    &--btn:active {
      color: inherit;
    }
  }
}
.TopPage{
  font-style: oblique;
  padding-bottom: 50px;
  .Header{
    border-bottom: 3px solid $tea_color;
    @include w_h(100%, 700px);
    background-image: image-url('background/background_image.jpg');
    background-size: cover;
    .CatchCopy{
      position: relative;
      font-size: 30px;
      &__textWrapper{
        position: absolute;
        left: 22%;
        top: 215px;
        &--sub{
          font-size: 20px;
        }
      }
    }
  }
  .ContentsArea{
    padding: 70px;
    h1{
      font-size: 50px;
      text-align: center;
    }
    .Content{
      border: 1px dotted $tea_color;
      background-color: rgb(255, 255, 251);
      border-radius: 40px;
      margin-top: 50px;
      padding: 30px 20px;
      &__name{
        margin-bottom: 20px;
        font-size: 30px;
        border-bottom: 1px dotted $tea_color;
        padding-bottom: 30px;
      }
      &__box{
        @include flex_box(space-around, center);
        &--image{
          @include w_h(25%, 25%);
          margin-right: 30px;
        }
        &--text{
          font-size: 22px;
          padding: 40px;
        }
      }
      .reverse {
        flex-direction: row-reverse;
      }
    }
  }
  .StartBtn{
    display: block;
    font-size: 40px;
    padding-top: 11px;
    text-align: center;
    border: 1px solid $tea_color;
    border-radius: 10px;
    @include w_h(200px, 80px);
    margin: 0 auto;
    background-color: rgb(255, 255, 251);
    color: rgb(223, 116, 116); 
    text-decoration: none;

  }
}


// .StopWatchArea {
  
//   background-color: $ivory;
//   .TeaSelectArea {
//     .ConditionSelectArea{
//       &__leaftype{
//         font-size: 100px;
//       }
//     }
//   }
//   .CountDownArea {
//     @include flex_box(center, center);
//     font-size: 200px;
//     color: $tea_color;
//     text-align: center;
//   }
//   .ButtonArea {
//     @include flex_box(center, center);
//     &__start {
//       @include button_style;
//       &--icon {

//       }
//       &--text {
//       }
//     }
//     &__reset {
//       @include button_style;

//       &--icon {

//       }
//       &--text {
        
//       }
//     }
//     &__detail {
//       @include button_style;

//       &--icon {

//       }
//       &--text {
        
//       }
//     }
//   }
// }
